*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/DeviceLibrary/build/
/DeviceLibrary/
/backup/
/Javadoc/
/others/
/Signed APKs/
/edt.png
/Logo.psd
/Logo_neu.psd
/Logo_neu_transparent.psd
/git add.cmd
/Official Releases/
/DeviceLibraryDtx400/
/DeviceLibraryItg6x0/
/DeviceLibraryItg400/
/.idea/
/gradle/wrapper/gradle-wrapper.properties
