<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.casio.edt">

    <application>
        <provider
            android:authorities="${applicationId}.eDTinitProvider"
            android:exported="false"
            android:enabled="true"
            android:name=".EDTInitProvider" />
    </application>
</manifest>